html, body{
    height: auto 100%;
}

body {
    margin: 0  auto;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    line-height: 1.5;
    padding: 1em;
    background: linear-gradient(#BD632F, #D8973C, #D8C99B);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
}

a {
    color: #e81c4f;
}

li {
    font-size: 20px;
    list-style: none;
}

